body{
    border: dashed 5px blueviolet;
    background-color: aqua;
    border-radius:5% 5% 5% 5%;
    background-image: url(https://www.elgrafico.com.ar/media/cache/pub_news_details_large/media/i/42/c3/42c3f7418f981eae673f5aa5ccf53286939d41a4.jpg); 

}

h2{
    display:block;
    width: 300px;
    height: 50px;
    background-color:chocolate;
    margin-bottom: 70px;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
    
}


.cajainicial{
    width:50%;
    margin-left: auto;
    margin-right:auto ;
    margin-top:30px;
    margin-bottom:30px;
    background-color: red;
    text-align: center;
    padding: 1px;
    border: 3px solid black;

}

.cajainicial:hover{
    background-color: chartreuse;
}


.img{
    width:15%;
    border-radius:10% 10% 10% 10%;
    border:5px solid red;
    margin-left: 42%;
}

.ferch{
height: 50px;    
max-width: 450px;
background-color:chocolate;
text-align: center;
align-items: center;
margin-left: auto;
margin-right:auto ;
margin-top:20px;
margin-bottom:20px;
font-size: 18px;
}

.description{
    background-color: chocolate;
    text-align: center;
    font-size: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right:auto ;

}

.habil{
    background-color:chocolate;
    text-align: center;
    font-size: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right:auto ;
}
